.service-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 36px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    min-width: 80vh;
    min-height: 10vh;
    margin-top: 24px;

}

.service-card__info {
    flex: 1;
}

.service-card__title {
    font-weight: 800;
    margin: 0;
}

.service-card__description {
    color: #666;
    margin: 4px 0 0;
}

.service-card__right {
    display: flex;
    flex-direction: column;
    /* importante */
    align-items: flex-end;
    /* para que todo esté alineado a la derecha */
    gap: 0.5rem;
}

.service-card__counter {
    margin-top: 0.5rem;
}

.service-card__price {
    font-weight: 800;
    margin: 0;
}

.service-card__currency {
    font-size: 1rem;
    margin-left: 4px;
}

.service-card__checkbox {
    display: flex;
    align-items: center;
    gap: 8px;

}

.service-card__checkbox input {
    height: 20px;
    width: 20px;

}